################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MysqlDatabasesScript/obj/Debug/netstandard1.6
/src/MysqlDatabasesScript/bin/Debug/netstandard1.6
/.vs
/src/ATSimCommon/bin/Debug/netstandard1.6
/src/ATSimCommon/obj/Debug/netstandard1.6
/src/ATSimData/bin/Debug/netstandard1.6
/src/ATSimData/obj/Debug/netstandard1.6
/src/ATSimDto/bin/Debug/netstandard1.6
/src/ATSimDto/obj/Debug/netstandard1.6
/src/ATSimEntity/bin/Debug/netstandard1.6
/src/ATSimEntity/obj/Debug/netstandard1.6
/src/ATSimService/bin/Debug/netstandard1.6
/src/ATSimService/obj/Debug/netstandard1.6
/src/ATSimWeb/bin/Debug/netcoreapp1.0
/src/ATSimWeb/obj/Debug/netcoreapp1.0
/src/ATSimWeb/project.lock.json
/src/ATSimCommon/project.lock.json
/src/ATSimData/project.lock.json
/src/ATSimDto/project.lock.json
/src/ATSimEntity/project.lock.json
/src/ATSimService/project.lock.json
/src/MysqlDatabasesScript/project.lock.json
/src/ATSimWeb/text.xlsx
/src/ATSimData/obj/Release/netstandard1.6
/src/ATSimCommon/obj/Release/netstandard1.6
/src/ATSimCommon/bin/Release/netstandard1.6
/src/ATSimData/bin/Release/netstandard1.6
/src/ATSimDto/bin/Release/netstandard1.6
/src/ATSimDto/obj/Release/netstandard1.6
/src/ATSimEntity/bin/Release/netstandard1.6
/src/ATSimEntity/obj/Release/netstandard1.6
/src/ATSimService/bin/Release/netstandard1.6
/src/ATSimService/obj/Release/netstandard1.6
/src/ATSimWeb/bin/Release
/src/ATSimWeb/obj/Release/netcoreapp1.0
/src/ATSimWeb/Properties/PublishProfiles
