################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MysqlDatabasesScript/obj/Debug/netstandard1.6
/src/MysqlDatabasesScript/bin/Debug/netstandard1.6
/src/ChinaMobileSim/bin/Debug/netcoreapp1.0
/src/ChinaMobileSim/obj/Debug/netcoreapp1.0
/src/ChinaMobileService/bin/Debug/netstandard1.6
/src/ChinaMobileService/obj/Debug/netstandard1.6
/src/ChinaMobileEntity/bin/Debug/netstandard1.6
/src/ChinaMobileEntity/obj/Debug/netstandard1.6
/src/ChinaMobileDto/bin/Debug/netstandard1.6
/src/ChinaMobileDto/obj/Debug/netstandard1.6
/src/ChinaMobileData/bin/Debug/netstandard1.6
/src/ChinaMobileData/obj/Debug/netstandard1.6
/src/ChinaMobileCommon/bin/Debug/netstandard1.6
/src/ChinaMobileCommon/obj/Debug/netstandard1.6
/src/SimpleTokenProvider/bin/Debug/netstandard1.6
/src/SimpleTokenProvider/obj/Debug/netstandard1.6
/.vs
/.vscode
/src/ATSimCommon/bin/Debug/netstandard1.6
/src/ATSimCommon/obj/Debug/netstandard1.6
/src/ATSimData/bin/Debug/netstandard1.6
/src/ATSimData/obj/Debug/netstandard1.6
/src/ATSimDto/bin/Debug/netstandard1.6
/src/ATSimDto/obj/Debug/netstandard1.6
/src/ATSimEntity/bin/Debug/netstandard1.6
/src/ATSimEntity/obj/Debug/netstandard1.6
/src/ATSimService/bin/Debug/netstandard1.6
/src/ATSimService/obj/Debug/netstandard1.6
/src/ATSimWeb/bin/Debug/netcoreapp1.0
/src/ATSimWeb/obj/Debug/netcoreapp1.0
